---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Kyodai Kai">
	<header>
		<Menu/>
	</header>
	<main>

	</main>
	<footer></footer>
</Layout>

<style>
</style>
