---
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

{
  !session ? (
    <button id="login">Login</button>
  ) : (
    <button id="logout">Logout</button>
  )
}

<script>
  const { signIn, signOut } = await import("auth-astro/client");
  document.querySelector<HTMLButtonElement>("#login")!.onclick = () =>
    signIn("battlenet");
  document.querySelector<HTMLButtonElement>("#logout")!.onclick = () =>
    signOut();
</script>
